<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>TTV Studio</Name>
    <Version>1.0.0</Version>
    <Title>TTV Studio Setup</Title>
    <Publisher>quytttb</Publisher>
    <StartMenuDir>TTV Studio</StartMenuDir>
    <TargetDir>@RootDir@/TtvStudio</TargetDir>
    <WizardStyle>Modern</WizardStyle>
    <WizardDefaultWidth>850</WizardDefaultWidth>
    <WizardDefaultHeight>500</WizardDefaultHeight>
    <InstallerApplicationIcon>app_icon</InstallerApplicationIcon>
    <InstallerWindowIcon>window_icon.png</InstallerWindowIcon>
    <Logo>logo.png</Logo>
    <ControlScript>controlscript.qs</ControlScript>
</Installer>
