[Desktop Entry]
Type=Application
Name=Central Logger
Comment=Central management for Modbus TCP Data Loggers
Exec=central-logger
Icon=central-logger
StartupWMClass=central_logger
Terminal=false
Categories=Utility;
