[Desktop Entry]
Type=Application
Name=TTV Studio
Comment=Central management for Modbus TCP Data Loggers
Exec=ttv-studio
Icon=ttv-studio
StartupWMClass=ttv_studio
Terminal=false
Categories=Utility;
